<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Uni_SDR_link.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Uni_SDR_link.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <Uni_SDR_link.My.MySettings>
            <setting name="VFOAActive" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="VFOAPort" serializeAs="String">
                <value>COM11</value>
            </setting>
            <setting name="VFOBActive" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="VFOCActive" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="VFODActive" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="VFOEActive" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="VFOFActive" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="VFOBPort" serializeAs="String">
                <value />
            </setting>
            <setting name="VFOCPort" serializeAs="String">
                <value />
            </setting>
            <setting name="VFODPort" serializeAs="String">
                <value />
            </setting>
            <setting name="VFOEPort" serializeAs="String">
                <value />
            </setting>
            <setting name="VFOFPort" serializeAs="String">
                <value />
            </setting>
            <setting name="OutputPort" serializeAs="String">
                <value />
            </setting>
            <setting name="portBaudRate" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="portStopBit" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="portDataBit" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="portParity" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="userSettingsExist" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="enableDebug" serializeAs="String">
                <value>False</value>
            </setting>
        </Uni_SDR_link.My.MySettings>
    </userSettings>
    <applicationSettings>
        <Uni_SDR_link.My.MySettings>
            <setting name="defaultVFOAActive" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="defaultVFOBActive" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="defaultVFOCActive" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="defaultVFODActive" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="defaultVFOFActive" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="defaultVFOEActive" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="defaultVFOAPort" serializeAs="String">
                <value>COM11</value>
            </setting>
            <setting name="defaultVFOBPort" serializeAs="String">
                <value />
            </setting>
            <setting name="defaultVFOCPort" serializeAs="String">
                <value />
            </setting>
            <setting name="defaultVFODPort" serializeAs="String">
                <value />
            </setting>
            <setting name="defaultVFOEPort" serializeAs="String">
                <value />
            </setting>
            <setting name="defaultVFOFPort" serializeAs="String">
                <value />
            </setting>
            <setting name="defaultOutputPort" serializeAs="String">
                <value />
            </setting>
            <setting name="defaultPortBaudRate" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="defaultPortDataBit" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="defaultPortStopBit" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="defaultPortParity" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="defaultEnableDebug" serializeAs="String">
                <value>False</value>
            </setting>
        </Uni_SDR_link.My.MySettings>
    </applicationSettings>
</configuration>